@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger"> Ошибка </h2>
<hr />
<div class="table">
    <h1 class="text-danger">Не возможно удалить запись</h1>
    <a href="/Books/Index" class="btn-icon-details" title="Вернуться на главную"><i class="fa fa-arrow-left fa-2x"></i></a>
</div>