.cards-container {
	width: 100%;
    min-height:340px;
    text-align: center;
}
	
.card {
	width: 200px;
	height: 300px;
    margin: 12px;
	border: 1px solid #281212;
	background: url("/Images/img.jpg");
	background-size: auto 100%;
	background-position: center;
	color: #eadede;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	display: inline-block;
	box-shadow: 0 5px 10px rgba(48, 21, 21, 0.7);
	transition: .5s all;
}

.card:hover {
	background-size: auto 120%;
	transition: .5s all;
}

.card:hover > .info {
	bottom: 0;
	transition: .5s all;
}

.info {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -230px;
	left: 0;
	transition: .5s all;
	background: rgba(48, 21, 21, 0.7);
    box-shadow: 0 -5px 10px rgba(48, 21, 21, 0.7);
	padding: 6px;
    text-align: justify;
}

.info .name {
	text-align: center;
	width: 100%;
	height: 75px;
    text-align: center;
    color: burlywood;
}

.info .author {
	font-size: 12px;
    text-align: left !important;
}

.info .price:before {
	content: " ";
}

.info .price {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 30px;
}

.actions {
    text-align: center;
    margin-top: 16px;
}


.author:before {
    content: "Автор: ";
}

.isbn:before {
    content: "ISBN: ";
}

.publication_type:before {
    content: "Вид издания: ";
}

.place_publication:before {
    content: "Место издания: ";
}
.publishing:before {
    content: "Издательство: ";
}

.year:before {
    content: "Год: ";
}

.price:before {
    content: "Цена: ";
}

.actions {
    width: 100px;
    margin: 0 auto;
}

.actions > * {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}