@{
    ViewBag.Title = "Index";
}

<h2>Список зарегистрированных пользователей</h2>
<div class="row">
    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">Пользователь</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="email"><a href="#">Email</a></li>
                    <li id="name"><a href="#">Пользователь</a></li>
                    <li id="role"><a href="#">Роль</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th> Email </th>
            <th> Пользователь </th>
            <th> Роль </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    var deleteUrl = '@Url.Action("DeleteConfirmed", (string) PageData["Controller"])';
</script>
<script src="~/Scripts/Users.js"></script>